@use 'utils' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;800&display=swap');

// 
// LIGHT MODE VARIABLES
//
html {
   --lightWallpaper: url('../images/wallpaper_dark.svg');
   --lightText: #FFFFFF;;
   --lightBackground: rgba(33, 33, 33, 0.47);
   --lightBorder: #212121;
   --lightTerminalHeaderBackground: rgba(33, 33, 33, 0.5);
   --lightTerminalBodyBackground: rgba(33, 33, 33, 0.40);
   --lightTerminalBar: rgba(12, 15, 18, 0.3);
   --lightPlaceholder: rgb(241, 237, 237);
   --lightBtn: #FFFFFF;
   --lightTransBorder: rgba(241, 237, 237, 0);
   --lightScroll: rgba(33, 33, 33, 0.70);
}

// 
// DARK MODE VARIABLES
//
html[data-theme='light'] {
   background: var(--lightBg);
   --lightWallpaper: url('../images/wallpaper_lite.svg');
   --lightBackground: rgba(123, 129, 137, 0.45);
   --lightBorder: rgba(255, 255, 255, 0.125);
   --lightTerminalHeaderBackground: rgba(123, 129, 137, 0.50);
   --lightTerminalBodyBackground: rgba(123, 129, 137, 0.45);
   --lightTerminalBar: rgba(131, 144, 158, 0.3);
   --lightPlaceholder: rgb(255, 255, 255);
   --lightBtn: #FFBD07;
   --lightScroll: rgba(216, 216, 216, 0.7);
}

//
// Disable navigator's margins and paddings (???)
//
body {
   margin: 0;
   padding: 0;
   font-family: 'Rubik', sans-serif;
   width: 100%;
   background-repeat: no-repeat;
   object-fit: cover;
   background: var(--lightWallpaper) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
}

//
// Desktop icons
//
.grid-icons {
   padding: 2rem 0 0 2rem;
   width: 100%;
   height: 100%;
}

.icons {
   @include desktop-icons;
}

//
// General stylist class for bold text
//
.text--bold {
   font-weight: bold;
}

.absolute {
   position: absolute;
}

.visibility {
   visibility: hidden;
}

.visibilityOn {
   visibility: visible;
}

.close-animation {
   animation: close 0.3s ease-in both;
}

@keyframes close {
   0% {
      opacity: 1;
   }
   10% {
      transform: translateX(-20px);
   }
   80% {
      opacity: 0.2;
      transform: translateX(-500px);
   }
   100% {
      transform: translateX(-1000px);
      visibility: hidden;
      opacity: 0;
   }
}

.text--warning {
   font-weight: bold;
   color: #EC6A5E;
}

::placeholder {
   color: var(--lightPlaceholder);
}

a {
   text-decoration: none;
   @include text;
   &:visited {
      text-decoration: none;
   }
}

.text--margin-left {
   margin-left: 10px;
}

.text--green {
   color: $green;
}

//
// Scroll bar custom
//
::-webkit-scrollbar {
   width: 0.4em;
   position: absolute;
}
::-webkit-scrollbar-thumb {
   background: var(--lightScroll);
   border-radius: 20px;
   outline: 1px solid var(--lightBorder);
}

//
// Informations about me and display date and time
//
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--lightBackground);
   border-bottom: 1px solid var(--lightBorder);
   height: auto;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   @include box-gradiant;
   #title-left, #title-right {
      ul {
         list-style-type: none;
         margin: 0.5rem 0;
         padding: 0 0.8rem;
         li {
            display: inline;
            @include text;
            padding: 0.5rem 0.5rem;
            font-size: 14px;
         }
      }
   }
}

//
// Terminal box here head and box text are modified
//
main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 91vh;
   .container {
      border-radius: 15px;
      backdrop-filter: blur(15px);
      @include box-gradiant;
      //
      // Terminal head modifications here
      //
      .terminal-header {
         @include text;
         width: auto;
         background-color: var(--lightTerminalHeaderBackground);
         border: 1px solid var(--lightBorder);
         border-radius: 15px 15px 0 0;
         height: 45px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         backdrop-filter: blur(15px) saturate(120%);
         -webkit-backdrop-filter: blur(15px) saturate(121%);
         cursor: grab;
         .left-right {
            margin-left: 2rem;
            .fa-chevron-left {
               margin-right: 1rem;
            }
         }
         .research-bar {
            background: var(--lightTerminalBar);
            border-radius: 7px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            .text--margin0 {
               margin: 0;
               padding: 0.3rem;
               i {
                  margin: 0 0.5rem;
               }
            }
         }

         //
         // Close/Reduce... from MacOS button
         //
         .button-management {
            cursor: pointer;
            z-index: 2;
            display: flex;
            align-items: center;
            margin: 1rem;
            .circle-red {
               @include button-management;
               background: #EC6A5E;
               &:hover {
                  background: #973c34;
               }
            }
            .circle-orange {
               @include button-management;
               background: #F5BF4F;
            }
            .circle-grey {
               @include button-management;
               background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
            }
         }
         #button-switch, #button-switch-file {
            background: var(--lightTerminalBar);
            color: var(--lightBtn);
            font-size: 12px;
            padding: 0.3rem 0.7rem;
            border-radius: 7px;
            margin-left: 0.5rem;
            margin-right: 10rem;
            cursor: pointer;
            &:hover {
               background: var(--lightTerminalBodyBackground);
            }
         }
      }

      //
      // Terminal text modifications here
      //
      .terminal {
         height: 60vh;
         width: 60vw;
         background: var(--lightTerminalBodyBackground);
         border-radius: 0 0 20px 20px;
         border: 1px solid var(--lightBorder);
         border-top: 0;
         padding: 1rem;
         li {
            padding: 0.2rem 0;
         }
         .terminal-folder {
            @include text;
            cursor: initial;
            height: 100%;
            width: 100%;
         }
         #terminal-text {
            @include text;
            cursor: initial;
            height: 100%;
            width: auto;
            overflow: scroll;
            overflow-x: hidden;
            font-family: 'Source Code Pro', monospace;
            font-size: 14px;
            #terminal-input {
               display: flex;
               align-items: center;
               input {
                  @include text;
                  width: 80%;
                  font-size: 14px;
                  margin-left: 0.5rem;
                  height: 20px;
                  font-family: 'Source Code Pro', monospace;
                  background-color: #f5be4f00;
                  border: none;
                  outline: none;
               }
            }
            #terminal-input-new {
               display: flex;
               align-items: center;
               padding: 0.7rem 0;
               #new-input--style {
                  @include text;
                  padding-left: 0.5rem;
                  font-size: 14px;
                  font-family: 'Source Code Pro', monospace;
               }
            }
         }
      }
   }
   #contactform {
      display: flex;
      margin-top: 2%;
      height: 90%;
      overflow: scroll;
      overflow-x: hidden;
      align-items: center;
      flex-direction: column;
      .fa-reply {
         margin-left: 1rem;
      }
   }
}

//
// Link (and contact text) with random sentences(?)
//
footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 1rem;
   font-size: 14px;
   @include text;
   p {
      margin-top: 3px;
   }
   i {
      margin-left: 0.3rem;
   }
}


//
// WIP
//

.fa-file-contract, .fa-signature, .fa-building, .fa-mobile-screen-button, .fa-paper-plane, .fa-discord {
   margin-right: 0.3rem;
   justify-content: center;
   width: 1.5rem;
}

form.form-example {
   display: table;
   display: flex;
   flex-direction: column;
   width: 70%;
   @include text;
}

.button-custom {
   cursor: pointer;
   height: 3rem;
   &:hover {
      background-color: var(--lightScroll);
   }
}

.contactme-input, .button-custom {
   background-color: var(--lightBackground);
   border: var(--lightBorder);
}

div.form-example {
   display: table-row;
   margin: 0.3rem;
}

label, input {
   display: table-cell;
   width: 100%;
   height: 30px;
   border-radius: 5px;
   @include text;
   outline: none;
}

.email-send-message {
   @include text;
   visibility: hidden;
   position: absolute;
   top: 70px;
   right: 40px;
   border-radius: 5px;
   padding: 1.4rem;
   background-color: rgba(12, 128, 12, 0.795);
   backdrop-filter: blur(15px);
   .fa-circle-check {
      margin-right: 0.7rem;
   }
}

.email-send-message-off {
   @include text;
   visibility: hidden;
   position: absolute;
   top: 70px;
   right: 40px;
   border-radius: 5px;
   padding: 1.4rem;
   background-color: rgba(128, 12, 12, 0.795);
   backdrop-filter: blur(15px);
   .fa-xmark {
      margin-right: 0.7rem;
   }
}

#discord {
   border: 1px solid rgba(0, 0, 0, 0);
   border-radius: 5px;
   padding: 0.3rem;
   &:hover {
      background-color: var(--lightTerminalBar);
   }
}

.ending-animation {
   // Animation 
   animation: ending 5s ease-in both;
}

@keyframes ending {
   0% {
      transform: translateY(-20px);
      opacity: 0;
   }
   20% {
      transform: translateY(0);
      opacity: 0.8;
   }
   100% {
      opacity: 1;
      visibility: hidden;
   }
}

//
// WIP
//