@use 'utils' as *;
@use 'layouts/animation';
@use 'layouts/window';
@use 'layouts/notifications';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;800&display=swap');

// 
// LIGHT MODE VARIABLES
//
html {
   --lightWallpaper: url('../images/wallpaper_dark.svg');
   --lightText: #FFFFFF;;
   --lightBackground: rgba(33, 33, 33, 0.47);
   --lightBorder: #212121;
   --lightTerminalHeaderBackground: rgba(33, 33, 33, 0.5);
   --lightTerminalBodyBackground: rgba(33, 33, 33, 0.40);
   --lightTerminalBar: rgba(12, 15, 18, 0.3);
   --lightPlaceholder: rgb(241, 237, 237);
   --lightBtn: #FFFFFF;
   --lightTransBorder: rgba(241, 237, 237, 0);
   --lightScroll: rgba(33, 33, 33, 0.70);
}

// 
// DARK MODE VARIABLES
//
html[data-theme='light'] {
   background: var(--lightBg);
   --lightWallpaper: url('../images/wallpaper_lite.svg');
   --lightBackground: rgba(123, 129, 137, 0.45);
   --lightBorder: rgba(255, 255, 255, 0.125);
   --lightTerminalHeaderBackground: rgba(123, 129, 137, 0.50);
   --lightTerminalBodyBackground: rgba(123, 129, 137, 0.45);
   --lightTerminalBar: rgba(131, 144, 158, 0.3);
   --lightPlaceholder: rgb(255, 255, 255);
   --lightBtn: #FFBD07;
   --lightScroll: rgba(216, 216, 216, 0.7);
}

//
// Disable navigator's margins and paddings (???)
//
body {
   margin: 0;
   padding: 0;
   font-family: 'Rubik', sans-serif;
   width: 100%;
   background-repeat: no-repeat;
   object-fit: cover;
   background: var(--lightWallpaper) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
}

//
// Desktop icons
//
.grid-icons {
   padding: 2rem 0 0 2rem;
   width: 100%;
   height: 100%;
}

.icons {
   @include desktop-icons;
}

//
// General stylist class for bold text
//
.text--bold {
   font-weight: bold;
}

.absolute {
   position: absolute;
}

.visibility {
   visibility: hidden;
}

.visibilityOn {
   visibility: visible;
}

.text--warning {
   font-weight: bold;
   color: #EC6A5E;
}

::placeholder {
   color: var(--lightPlaceholder);
}

a {
   text-decoration: none;
   @include text;
   &:visited {
      text-decoration: none;
   }
}

.text--margin-left {
   margin-left: 10px;
}

.text--green {
   color: #57B40F;
}

.fa-file-contract, .fa-signature, .fa-building, .fa-mobile-screen-button, .fa-paper-plane, .fa-discord {
   margin-right: 0.3rem;
   justify-content: center;
   width: 1.5rem;
}

::-webkit-scrollbar {
   width: 0.4em;
   position: absolute;
}
::-webkit-scrollbar-thumb {
   background: var(--lightScroll);
   border-radius: 20px;
   outline: 1px solid var(--lightBorder);
}

//
// Informations about me and display date and time
//
header {
   @include box-gradiant;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--lightBackground);
   border-bottom: 1px solid var(--lightBorder);
   height: auto;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   #discord {
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 5px;
      padding: 0.3rem;
      &:hover {
         background-color: var(--lightTerminalBar);
      }
   }
   #title-left, #title-right {
      ul {
         list-style-type: none;
         margin: 0.5rem 0;
         padding: 0 0.8rem;
         li {
            display: inline;
            @include text;
            padding: 0.5rem 0.5rem;
            font-size: 14px;
         }
      }
   }
}

//
// Terminal box here head and box text are modified
//
main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 89vh;
}

//
// Link (and contact text) with random sentences(?)
//
footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 1rem;
   font-size: 14px;
   @include text;
   p {
      margin-top: 3px;
   }
   i {
      margin-left: 0.3rem;
   }
}

#notAllowed {
   @include text;
   position: absolute;
   visibility: hidden;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   backdrop-filter: blur(18px) saturate(45%);
   -webkit-backdrop-filter: blur(18px) saturate(45%);
   #notAllowed-center {
      @include box-gradiant;
      padding: 3rem;
      border-radius: 10px;
      background-color: var(--lightTerminalBodyBackground);
      .fa-xmark {
         position: relative;
         top: -35px;
         right: -120px;
      }
   }
   #input-wrongPassword {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      height: 2rem;
      width: 100%;
      background-color: var(--lightTerminalBar);
      border-radius: 5px;
      p {
         margin: auto 0;
         padding: 2.5% 0 0 4%;
         color: var(--lightText);
      }
   }
   #message-text {
      text-align: center;
      width: 12rem;
   }
}
.button-management-notAllowed {
   display: flex;
   position: relative;
   top: -35px;
   left: -40px;
   .circle-red {
      @include button-management;
      background: #EC6A5E;
      &:hover {
         background: #973c34;
      }
   }
   .circle-orange {
      @include button-management;
      background: #F5BF4F;
   }
   .circle-grey {
      @include button-management;
      background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
   }
}

@media (max-width: 992px) {
   * {
      overflow-y: hidden;
   }

   #notAllowed {
      visibility: visible;
   }

   .container, header {
      display: none;
   }
}