// Body [DARK MODE]
$primary: #434343;
// Divs color
$secondary: rgba(33, 33, 33, 0.47);;
// Border color [DARK MODE]
$third: #212121;
// Font [DARK MODE]
$grey: #A6A6A6;
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$green: #57B40F;