@mixin box-gradiant {
   box-shadow:
      0px 0px 7.3px rgba(0, 0, 0, 0.035),
      0px 0px 58px rgba(0, 0, 0, 0.07);
}

@mixin text {
   color: var(--lightText);
}

@mixin button-management {
   width: 12px;
   height: 12px;
   border-radius: 20px;
   border: 0.5px solid rgba(0, 0, 0, 0.12);
   margin: 0 0.4rem;
}

@mixin desktop-icons {
   align-items: center;
   display: flex;
   width: 2rem;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   width: 100px;
   height: 100px;
   border-radius: 5px;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   border: 1px solid var(--lightTransBorder);
   @include text;
   color: var(--lightText);
   &:hover {
      background-color: var(--lightBackground);
      border: 1px solid var(--lightBorder);
      cursor: var(--pointer);
      backdrop-filter: blur(15px);
   }
   img, p{
      margin-top: 0.4rem;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
   }
}

