@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;800&display=swap");
.close-animation {
  animation: close 0.3s ease-in both;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateX(-20px);
  }
  80% {
    opacity: 0.2;
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(-1000px);
    visibility: hidden;
    opacity: 0;
  }
}
.ending-animation {
  animation: ending 5s ease-in both;
}

@keyframes ending {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
.container {
  border-radius: 15px;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 7.3px rgba(0, 0, 0, 0.035), 0px 0px 58px rgba(0, 0, 0, 0.07);
}
.container .terminal-header {
  color: var(--lightText);
  width: auto;
  background-color: var(--lightTerminalHeaderBackground);
  border: 1px solid var(--lightBorder);
  border-radius: 15px 15px 0 0;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px) saturate(120%);
  -webkit-backdrop-filter: blur(15px) saturate(121%);
  cursor: grab;
}
.container .terminal-header .left-right {
  margin-left: 2rem;
}
.container .terminal-header .left-right .fa-chevron-left {
  margin-right: 1rem;
}
.container .terminal-header .research-bar {
  background: var(--lightTerminalBar);
  border-radius: 7px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.container .terminal-header .research-bar .text--margin0 {
  margin: 0;
  padding: 0.3rem;
}
.container .terminal-header .research-bar .text--margin0 i {
  margin: 0 0.5rem;
}
.container .terminal-header .button-management {
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  margin: 1rem;
}
.container .terminal-header .button-management .circle-red {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #EC6A5E;
}
.container .terminal-header .button-management .circle-red:hover {
  background: #973c34;
}
.container .terminal-header .button-management .circle-orange {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #F5BF4F;
}
.container .terminal-header .button-management .circle-grey {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
}
.container .terminal-header .button-switch {
  background: var(--lightTerminalBar);
  color: var(--lightBtn);
  font-size: 12px;
  padding: 0.3rem 0.7rem;
  border-radius: 7px;
  margin-left: 0.5rem;
  margin-right: 10rem;
  cursor: pointer;
}
.container .terminal-header .button-switch:hover {
  background: var(--lightTerminalBodyBackground);
}
.container .terminal {
  height: 60vh;
  width: 60vw;
  background: var(--lightTerminalBodyBackground);
  border-radius: 0 0 20px 20px;
  border: 1px solid var(--lightBorder);
  border-top: 0;
  padding: 1rem;
}
.container .terminal li {
  padding: 0.2rem 0;
}
.container .terminal .terminal-folder {
  color: var(--lightText);
  cursor: initial;
  height: 100%;
  width: 100%;
}
.container .terminal #terminal-text {
  color: var(--lightText);
  cursor: initial;
  height: 100%;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}
.container .terminal #terminal-text #terminal-input {
  display: flex;
  align-items: center;
}
.container .terminal #terminal-text #terminal-input input {
  color: var(--lightText);
  width: 80%;
  font-size: 14px;
  margin-left: 0.5rem;
  height: 20px;
  font-family: "Source Code Pro", monospace;
  background-color: #f5be4f00;
  border: none;
  outline: none;
}
.container .terminal #terminal-text #terminal-input-new {
  display: flex;
  align-items: center;
  padding: 0.7rem 0;
}
.container .terminal #terminal-text #terminal-input-new #new-input--style {
  color: var(--lightText);
  padding-left: 0.5rem;
  font-size: 14px;
  font-family: "Source Code Pro", monospace;
}

#contactform {
  display: flex;
  margin-top: 2%;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
#contactform .fa-reply {
  margin-left: 1rem;
}
#contactform form.form-example {
  display: table;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: var(--lightText);
}
#contactform .button-custom {
  cursor: pointer;
  height: 3rem;
}
#contactform .button-custom:hover {
  background-color: var(--lightScroll);
}
#contactform .contactme-input, #contactform .button-custom {
  background-color: var(--lightBackground);
  border: var(--lightBorder);
}
#contactform div.form-example {
  display: table-row;
  margin: 0.3rem;
}
#contactform label, #contactform input {
  color: var(--lightText);
  display: table-cell;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  outline: none;
}

.email-send-message {
  color: var(--lightText);
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 40px;
  border-radius: 5px;
  padding: 1.4rem;
  background-color: rgba(12, 128, 12, 0.795);
  backdrop-filter: blur(15px);
}
.email-send-message .fa-circle-check {
  margin-right: 0.7rem;
}

.email-send-message-off {
  color: var(--lightText);
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 40px;
  border-radius: 5px;
  padding: 1.4rem;
  background-color: rgba(128, 12, 12, 0.795);
  backdrop-filter: blur(15px);
}
.email-send-message-off .fa-xmark {
  margin-right: 0.7rem;
}

html {
  --lightWallpaper: url("../images/wallpaper_dark.svg");
  --lightText: #FFFFFF;
  --lightBackground: rgba(33, 33, 33, 0.47);
  --lightBorder: #212121;
  --lightTerminalHeaderBackground: rgba(33, 33, 33, 0.5);
  --lightTerminalBodyBackground: rgba(33, 33, 33, 0.40);
  --lightTerminalBar: rgba(12, 15, 18, 0.3);
  --lightPlaceholder: rgb(241, 237, 237);
  --lightBtn: #FFFFFF;
  --lightTransBorder: rgba(241, 237, 237, 0);
  --lightScroll: rgba(33, 33, 33, 0.70);
}

html[data-theme=light] {
  background: var(--lightBg);
  --lightWallpaper: url("../images/wallpaper_lite.svg");
  --lightBackground: rgba(123, 129, 137, 0.45);
  --lightBorder: rgba(255, 255, 255, 0.125);
  --lightTerminalHeaderBackground: rgba(123, 129, 137, 0.50);
  --lightTerminalBodyBackground: rgba(123, 129, 137, 0.45);
  --lightTerminalBar: rgba(131, 144, 158, 0.3);
  --lightPlaceholder: rgb(255, 255, 255);
  --lightBtn: #FFBD07;
  --lightScroll: rgba(216, 216, 216, 0.7);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background: var(--lightWallpaper) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.grid-icons {
  padding: 2rem 0 0 2rem;
  width: 100%;
  height: 100%;
}

.icons {
  align-items: center;
  display: flex;
  width: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--lightTransBorder);
  color: var(--lightText);
  color: var(--lightText);
}
.icons:hover {
  background-color: var(--lightBackground);
  border: 1px solid var(--lightBorder);
  cursor: pointer;
  backdrop-filter: blur(15px);
}
.icons img, .icons p {
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.text--bold {
  font-weight: bold;
}

.absolute {
  position: absolute;
}

.visibility {
  visibility: hidden;
}

.visibilityOn {
  visibility: visible;
}

.text--warning {
  font-weight: bold;
  color: #EC6A5E;
}

::placeholder {
  color: var(--lightPlaceholder);
}

a {
  text-decoration: none;
  color: var(--lightText);
}
a:visited {
  text-decoration: none;
}

.text--margin-left {
  margin-left: 10px;
}

.text--green {
  color: #57B40F;
}

.fa-file-contract, .fa-signature, .fa-building, .fa-mobile-screen-button, .fa-paper-plane, .fa-discord {
  margin-right: 0.3rem;
  justify-content: center;
  width: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.4em;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: var(--lightScroll);
  border-radius: 20px;
  outline: 1px solid var(--lightBorder);
}

header {
  box-shadow: 0px 0px 7.3px rgba(0, 0, 0, 0.035), 0px 0px 58px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightBackground);
  border-bottom: 1px solid var(--lightBorder);
  height: auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
header #discord {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 0.3rem;
}
header #discord:hover {
  background-color: var(--lightTerminalBar);
}
header #title-left ul, header #title-right ul {
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0 0.8rem;
}
header #title-left ul li, header #title-right ul li {
  display: inline;
  color: var(--lightText);
  padding: 0.5rem 0.5rem;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 89vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  font-size: 14px;
  color: var(--lightText);
}
footer p {
  margin-top: 3px;
}
footer i {
  margin-left: 0.3rem;
}

#notAllowed {
  color: var(--lightText);
  position: absolute;
  visibility: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(18px) saturate(45%);
  -webkit-backdrop-filter: blur(18px) saturate(45%);
}
#notAllowed #notAllowed-center {
  box-shadow: 0px 0px 7.3px rgba(0, 0, 0, 0.035), 0px 0px 58px rgba(0, 0, 0, 0.07);
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--lightTerminalBodyBackground);
}
#notAllowed #notAllowed-center .fa-xmark {
  position: relative;
  top: -35px;
  right: -120px;
}
#notAllowed #input-wrongPassword {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 2rem;
  width: 100%;
  background-color: var(--lightTerminalBar);
  border-radius: 5px;
}
#notAllowed #input-wrongPassword p {
  margin: auto 0;
  padding: 2.5% 0 0 4%;
  color: var(--lightText);
}
#notAllowed #message-text {
  text-align: center;
  width: 12rem;
}

.button-management-notAllowed {
  display: flex;
  position: relative;
  top: -35px;
  left: -40px;
}
.button-management-notAllowed .circle-red {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #EC6A5E;
}
.button-management-notAllowed .circle-red:hover {
  background: #973c34;
}
.button-management-notAllowed .circle-orange {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #F5BF4F;
}
.button-management-notAllowed .circle-grey {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
}

@media (max-width: 992px) {
  * {
    overflow-y: hidden;
  }

  #notAllowed {
    visibility: visible;
  }

  .container, header {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
