@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background: #434343;
  height: 100vh;
}

.text--bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  mix-blend-mode: hard-light;
}
a:visited {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.37);
  border-bottom: 1px solid #212121;
  height: auto;
  box-shadow: 0px 0px 7.3px rgba(0, 0, 0, 0.035), 0px 0px 58px rgba(0, 0, 0, 0.07);
}
header #title-left ul, header #title-right ul {
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0 0.8rem;
}
header #title-left ul li, header #title-right ul li {
  display: inline;
  color: #FFFFFF;
  mix-blend-mode: hard-light;
  padding: 0.5rem 0.5rem;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}
main .container {
  box-shadow: 0px 0px 7.3px rgba(0, 0, 0, 0.035), 0px 0px 58px rgba(0, 0, 0, 0.07);
}
main .container .terminal-header {
  width: auto;
  background: rgba(33, 33, 33, 0.37);
  border: 1px solid #2121216e;
  border-radius: 20px 20px 0 0;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  mix-blend-mode: hard-light;
}
main .container .terminal-header .left-right {
  margin-left: 2rem;
}
main .container .terminal-header .left-right .fa-chevron-left {
  margin-right: 1rem;
}
main .container .terminal-header .research-bar {
  background: rgba(12, 15, 18, 0.5);
  border-radius: 7px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
main .container .terminal-header .research-bar #text--margin0 {
  margin: 0;
  padding: 0.3rem;
}
main .container .terminal-header .research-bar #text--margin0 i {
  margin: 0 0.5rem;
}
main .container .terminal-header .button-management {
  display: flex;
  align-items: center;
  margin: 1rem;
}
main .container .terminal-header .button-management #circle-red {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #EC6A5E;
}
main .container .terminal-header .button-management #circle-orange {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: #F5BF4F;
}
main .container .terminal-header .button-management #circle-grey {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  margin: 0 0.4rem;
  background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
}
main .container .terminal-header .button-switch {
  font-size: 14px;
  background: rgba(12, 15, 18, 0.5);
  padding: 0.3rem 0.7rem;
  border-radius: 7px;
  margin-right: 10rem;
}
main .container #terminal {
  height: auto;
  width: 60vw;
  background: rgba(33, 33, 33, 0.37);
  border-radius: 0 0 20px 20px;
  border: 1px solid #212121;
  border-top: 0;
  padding: 1rem;
}
main .container #terminal .terminal-text {
  height: 500px;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
  color: #FFFFFF;
  mix-blend-mode: hard-light;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
}

footer {
  margin-left: 1rem;
  font-size: 14px;
  color: #FFFFFF;
  mix-blend-mode: hard-light;
}

.terminal-text::-webkit-scrollbar {
  width: 0.4em;
  position: absolute;
}

.terminal-text::-webkit-scrollbar-thumb {
  background: rgba(33, 33, 33, 0.5);
  border-radius: 20px;
  outline: 1px solid rgba(33, 33, 33, 0.5);
}

/*# sourceMappingURL=style.css.map */
