.ending-animation {
   animation: ending 5s ease-in both;
}

@keyframes ending {
   0% {
      transform: translateY(-20px);
      opacity: 0;
   }
   20% {
      transform: translateY(0);
      opacity: 0.8;
   }
   100% {
      opacity: 1;
      visibility: hidden;
   }
}

@-webkit-keyframes icons {
   0% {
      position: absolute;
      left: -1000px;
      opacity: 0;
   }
   100% {
      position: relative;
      opacity: 1;
   }
}

@keyframes icons {
   0% {
      position: absolute;
      left: -1000px;
      opacity: 0;
   }
   100% {
      position: relative;
      left: 0;
      opacity: 1;
   }
}

@-webkit-keyframes hamburger {
   0% {
      position: absolute;
      top: -1000px;
      opacity: 0;
   }
   100% {
      position: relative;
      opacity: 1;
   }
}

@keyframes hamburger {
   0% {
      position: absolute;
      top: -1000px;
      opacity: 0;
   }
   100% {
      position: relative;
      top: 0;
      opacity: 1;
   }
}

@-webkit-keyframes slide-in-left {
   0% {
      -webkit-transform: translateX(-1000px);
               transform: translateX(-1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0);
               transform: translateX(0);
      opacity: 1;
   }
}

@keyframes slide-in-left {
   0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
   }
}