@use '../utils' as *;

#context-menu {
   @include text;
   @include box-gradiant;
   z-index: 200;
   visibility: hidden;
   position: absolute;
   width: 13rem;
   height: 14rem;
   border-radius: 10px;
   background-color: var(--lightBackground);
   backdrop-filter: blur(14px) saturate(75%);
   display: flex;
   flex-direction: column;
   padding: 0.8rem 0.6rem;
   gap: 0.3rem;
   .fa-solid {
      padding-right: 0.8rem;
   }
   #first-menu {
      @include box-gradiant;
      background-color: rgba(26, 26, 26, 0.329);
      border-radius: 5px;
      padding: 0.7rem 0.6rem;
   }
}