@use '../utils' as *;

.fa-circle-check, .fa-xmark {
   margin-right: 0.7rem;
}

.email-send-message-on {
   @include text;
   @include alert-message;
   background-color: rgba(12, 128, 12, 0.795);
}

.email-send-message-off {
   @include text;
   @include alert-message;
   background-color: rgba(128, 12, 12, 0.795);
}