@use '../utils' as *;

#notification-area {
   position: absolute;
   z-index: 1000;
   top: 50px;
   right: 20px;
   width: 20rem;
   overflow: scroll;
   overflow-x: hidden;
   padding-right: 0.5rem;
   height: 90vh;
}

.notification-area-box {
   @include text;
   border: 1px solid var(--lightBorder);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--lightBackground);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   width: 100%;
   height: 5rem;
   margin-bottom: 0.5rem;
	animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 6s both;
}

@keyframes slide-out-top {
   0% {
     -webkit-transform: translateY(0);
             transform: translateY(0);
     opacity: 1;
   }
   100% {
     -webkit-transform: translateY(-1000px);
             transform: translateY(-1000px);
     opacity: 0;
   }
}