@use '../utils' as *;

.container {
   border-radius: 15px;
   backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
   @include box-gradiant;
   //
   // Terminal head modifications here
   //
   .terminal-header {
      @include text;
      width: auto;
      background-color: var(--lightTerminalHeaderBackground);
      border: 1px solid var(--lightBorder);
      border-radius: 15px 15px 0 0;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(15px) saturate(120%);
      -webkit-backdrop-filter: blur(15px) saturate(121%);
      cursor: grab;
      .left-right {
         margin-left: 2rem;
         display: flex;
         flex-direction: row;
         .fa-chevron-left {
            margin-right: 1rem;
         }
      }
      .research-bar {
         background: var(--lightTerminalBar);
         border-radius: 7px;
         width: 20rem;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 14px;
         .text--margin0 {
            margin: 0;
            padding: 0.3rem;
            i {
               margin: 0 0.5rem;
            }
         }
      }

      //
      // Close/Reduce... from MacOS button
      //
      .button-management {
         cursor: var(--pointer);
         z-index: 2;
         display: flex;
         align-items: center;
         margin: 1rem;
         .circle-red {
            @include button-management;
            background: #EC6A5E;
            &:hover {
               background: #973c34;
            }
         }
         .circle-orange {
            @include button-management;
            background: #F5BF4F;
         }
         .circle-grey {
            @include button-management;
            background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
            &:hover {
               background: #969494;
            }
         }
      }
      .button-switch {
         background: var(--lightTerminalBar);
         color: var(--lightBtn);
         font-size: 12px;
         padding: 0.3rem 0.7rem;
         border-radius: 7px;
         margin-left: 0.5rem;
         margin-right: 10rem;
         cursor: var(--pointer);
         &:hover {
            background: var(--lightTerminalBodyBackground);
         }
      }
   }

   //
   // Terminal text modifications here
   //
   .terminal {
      height: 60vh;
      width: 60vw;
      background: var(--lightTerminalBodyBackground);
      border-radius: 0 0 20px 20px;
      border: 1px solid var(--lightBorder);
      border-top: 0;
      padding: 1rem;
      li {
         padding: 0.2rem 0;
      }
      .terminal-folder {
         @include text;
         cursor: var(--cursor);
         height: 100%;
         width: 100%;
      }
      #terminal-text {
         @include text;
         cursor: var(--cursor);
         height: 100%;
         width: auto;
         overflow: scroll;
         overflow-x: hidden;
         font-family: 'Source Code Pro', monospace;
         font-size: 14px;
         #terminal-input {
            display: flex;
            align-items: center;
            input {
               @include text;
               width: 80%;
               font-size: 14px;
               margin-left: 0.5rem;
               height: 20px;
               font-family: 'Source Code Pro', monospace;
               background-color: #f5be4f00;
               border: none;
               outline: none;
            }
         }
         #terminal-input-new {
            display: flex;
            align-items: center;
            padding: 0.7rem 0;
            #new-input--style {
               @include text;
               padding-left: 0.5rem;
               font-size: 14px;
               font-family: 'Source Code Pro', monospace;
            }
         }
      }
   }
}

// @Help Message
.colorNbos {
   font-weight: bold;
   background: #bfbfbf;
   background: -webkit-linear-gradient(to right, #bfbfbf, #afafaf);
   background: linear-gradient(to right, #bfbfbf, #afafaf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
}

#header-request {
   @include step1( 6px, white );
   border-radius: 5px;
   margin: 1rem 2rem 0.5rem 2rem;
   padding: 1rem;
   width: auto;
   position: relative;
   p {
      text-align: center;
   }
   .custom-side-right {
      position: absolute;
      right: 20px;
      top: 10px;
   }
}

//
// Contact form
//
#contactform {
   display: flex;
   margin-top: 2%;
   height: 90%;
   overflow: scroll;
   overflow-x: hidden;
   align-items: center;
   flex-direction: column;
   .fa-reply {
      margin-left: 1rem;
   }
   form.form-example {
      @include text;
      display: table;
      display: flex;
      flex-direction: column;
      width: 70%;
   }
   
   .button-custom {
      cursor: var(--pointer);
      height: 3rem;
      &:hover {
         background-color: var(--lightScroll);
      }
   }
   
   .contactme-input, .button-custom {
      background-color: var(--lightBackground);
      border: var(--lightBorder);
   }
   
   div.form-example {
      display: table-row;
      margin: 0.3rem;
   }
   
   label, input {
      @include text;
      display: table-cell;
      width: 100%;
      height: 30px;
      border-radius: 5px;
      outline: none;
   }
}